*
!.bashrc
!.gitignore
!.zshrc
!.config/i3
!.config/termite
!.config/rofi
!.config/polybar
!.config/nitrogen
!.config/nvim
!.config/termite
!.install_arch.sh
!.config/Code\ -\ OSS/User/settings.json
!.config/Code - OSS/User/settings.json
!.config/Code\ -\ OSS/User/keybindings.json
!.config/Code - OSS/User/keybindings.json
