*
!.bashrc
!.gitignore
!.zshrc
!.install_arch.sh
!.install_ubuntu.sh
!.config/i3
!.config/awesome
!.config/termite
!.config/rofi
!.config/polybar
!.config/nitrogen
!.config/nvim
!.config/termite
!.config/Code/User/keybindings.json
!.config/Code/User/settings.json
!.emacs
